/*	Color Schemes! 

Ignacio
#003049 Prussian Blue
#D62828 Maximum Red
#F77F00 Orange
#FCBF49 Maximum Yellow Red
#EAE2B7 Lemon Meringue

Aquatico
#03045E Navy Blue
#0077B6 Star Command Blue
#00B4D8 Cerulean Crayola
#90E0EF Sky Blue Crayola
#CAF0F8 Powder Blue

Terra
#CAD2C5 Ash Grey
#84A98C Dark Sea Green
#52796F Hookers Green (?)
#354F52 Dark Slate Grey
#2F3E46 Charcoal

Ventus
#FFD6FF Pink Lace
#E7C6FF Mauve
#C8B6FF Maximum Blue Purple
#B8C0FF Lavender Blue
#BBD0FF Lavender Blue #2

linear-gradient(-206deg, #22577A 0%, #38A3A5 100%)
*/

body {
	background-color: white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: 003049;
	line-height: 1.5;
}

@media (min-width:992px) {

#icon {
	margin-left: 7%;
	font-family: 'Bebas Neue', cursive;
	color: whitesmoke;
}
}

.jumbotron-fluid > img {
	width: 100%;
}

a {
	text-decoration: none!important;
}

body {
	margin: 0;
  }
  
.wraphome {
	overflow: hidden;
	position: relative;
	height: 100vh;
	background-image: var(--bg-img);
}
  
canvas {
	width: 100%;
	height: 100%;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
}

.nav-link {
	color: white;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	color: whitesmoke;
	font-size: 5em;
}

.container {
	width: 60%;
	margin-top: 4em;
	margin-bottom: 4em;
}

h2	{
	font-family: 'Bebas Neue', cursive;
	color: var(--text-color);
}

:root,
:root.light {
	--text-color: black;
	--bg-img: linear-gradient(-206deg, #000 0%, #000 100%);
}

:root.ignacio {
	--text-color: #D62828;
	--bg-img: linear-gradient(-206deg, #003049 0%, #D62828 100%);
}

:root.aquatico {
	--text-color: #03045E;
	--bg-img: linear-gradient(-206deg, #0077B6 0%, #CAF0F8 100%);
}

:root.terra {
	--text-color: #52796F;
	--bg-img: linear-gradient(-206deg, #84A98C 0%, #2F3E46 100%);
}

:root.ventus {
	--text-color: #C8B6FF;
	--bg-img: linear-gradient(-206deg, #FFD6FF 0%, #C8B6FF 100%);
}
