/*	Color Scheme! 
#8ECAE6 - Light Cornflower Blue
#219EBC - Blue Green
#023047 - Prussian Blue
#FFB703 - Honey Yellow
#FB8500 - Orange
*/

body {
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	line-height: 1.5;
}

.navbar-brand {
	padding-left: 1em;
	font-family: 'Playfair Display', serif;
}

#name {
	color: #219EBC;
}

#name:hover {
	color: #023047;
}

.navbar-light .navbar-nav .nav-link {
	padding-left: 2em;
	padding-right: 2em;
	color: #219EBC;
}

.container {
	width: 70%;
}

#sponsors {
	text-align: right;
}

@media (max-width:992px) {
	.container {
		width: 95%;
	}
	#logo-footer, #sponsors {
		text-align: center;
	}
}

.jumbotron-fluid > img {
	width: 100%;
}

.responsive-iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.responsive-iframe-container iframe, .vresponsive-iframe-container object, .vresponsive-iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item .dropdown-menu{ margin-top:0;}
}

h1 {
	font-family: 'Playfair Display', serif;
	padding-top: 2em;
	padding-bottom: 0.5em;
}

h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 > span {
	background-color: #8ECAE6;
}

.homepage {
	text-align: center;
}

a {
	text-decoration: none!important;
}

.name {
    margin-top: 1em;
    font-weight: bold;
    font-size: 120%;
}

#teamcard > .name {
	font-size: 100%;
	margin-bottom: 1.5em;
}

.position {
    font-style: italic;
}

#card, #teamcard {
    margin-bottom: 0px;
    border: none;
    color: black;

}

#card > img {
    border-radius: 50%;
}

#teamcard > img {
	border-radius: 50%;
}

.btn:hover {
    background-color: #eee;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
  }

.modal-body, .modal-header, #teamcard > * {
    margin-left: 3%;
    margin-right: 3%;
}

.modal-body > img {
    margin-bottom: 2em;
}

.modal-body p {
    word-wrap: break-word;
}

.btn-primary, #teamcard {
	background-color: white;
}

#teamcard {
	text-align: center;
}

#footer {
	margin-top: 4em;
	margin-bottom: 4em;
	
}

.btn-info:hover {
	color: teal;
}

iframe {
	width: 100%;
	height: 25em;
}

.blue {
	color: blue;
}

.yellow {
	color: #FFB703;
}

.red {
	color: red;
}

.grey {
	color:darkgray;
}

.elfsight-app-0159a88f-e24e-494f-8b9f-68af84171856 {
	position: relative;
}

.clickable {
    cursor: pointer;
}

.blurb {
	font-size: 80%;
}

#card {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.col-sm-3 {
	align-items: center;
}

@media (max-width: 992px) {
	#card {
		padding-left: 20%;
	}
}

.btn-light {
	margin-bottom: 2.5em;
}

.beef {
	display: none;
}

.boi {
	font-size: 15px;
}

.announcement {
	background-color:#8ECAE6;
}

.confession {
	padding: 1em;
	margin: 1em;
	background-color: rgb(222, 244, 252);
	border-radius: 25px;
}